<div class="center jumbotron">
    <div class="container">
        <h1>Welcome to The Dinner Winners</h1>
        <div class="container large-image-home">
            <%= link_to image_tag("culvers-death.jpg", alt: "Sykes", class: "large-image-home"), '#' %> 
        </div>
        <h2>
            Where degenerates congregate...
        </h2>
    
        <%= link_to "Login Post Haste", '#', class: "btn btn-lg btn-primary" %>
    </div>
  </div>