<div class="center jumbotron">
  <div class="container">
    <h1>Welcome to The Dinner Winners</h1>
    <div class="container large-image-home">
      <%= link_to image_tag("culvers-death.jpg", alt: "Sykes RIP", class: "large-image-home"), '#login_form_modal' %> 
    </div>
    <h2>
        Where degenerates congregate...
    </h2>

    <button data-toggle="modal" data-target="#login_form_modal" class="btn btn-lg btn-primary">Login</button>
  </div>
</div>
<%= render partial: 'login_form_modal' %>