<header class="navbar navbar-default">
<div class="container">
    <%= link_to "Dinner Winners", '#', id: "logo" %>
    <nav>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <% unless @hide_login %>
          <li><a href="#" data-toggle="modal" data-target="#login_form_modal" href="#login_form_modal">Login</a></li>
        <% else %>
          <li><%= link_to "Logout", '/logout/' %></li>
        <% end %>
    </ul>
    </nav>
</div>
</header>